body {
  background-color: darkcyan;
}
footer {
  display: flex;
  justify-content: center;
}
.hyperlink {
  text-decoration: none;
  display: inline-block;
  min-width: fit-content;
  width: 150px;
  height: 35px;
  background-color: rgb(0, 137, 250);
  border-radius: 13px;
  color: rgb(233, 233, 233);
  font-size: 0.8rem;
  text-align: center;
  line-height: 35px;
  font-weight: normal;
  font-family: sans-serif;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.226);
  position: relative;
  margin-top: 25px;
  margin-bottom: 30px;
}
.hyperlink::after {
  content: ">";
  position: absolute;
  margin-left: 5px;
  font-size: 0.7rem;
  transform: translate(0px, 3%);
  transition: transform 300ms ease-out;
  opacity: 0;
}
.hyperlink:hover::after,
.hyperlink:focus::after {
  opacity: 1;
  transform: translate(10px, 3%);
}
