<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS</title>
    <link rel="stylesheet" href="style.css" />
    <script src="./vue.js"></script>
  </head>
  <body>
    <div id="app" v-bind:title="title">{{ message }}</div>
    <div id="app2">{{message}}</div>
    <div id="app3" v-if="show">{{ message }}</div>
    <div id="app4">
      <h4>{{ message }}</h4>
      <ul>
        <li v-for="list in lists">{{ list.item }}</li>
      </ul>
    </div>
    <button id="addBtn" v-on:click="add">{{ message }}</button>

    <script src="./index.js"></script>
  </body>
</html>
