<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS</title>
    <link rel="stylesheet" href="style.css" />
    <script src="./vue.js"></script>
  </head>

  <body>
    <header id="header">
      <h1 class="title" v-bind:title="title">{{ header1 }}</h1>
      <h2 class="title2">{{ header2 }}</h2>
      <div class="title3" v-if="show">{{ header3 }}</div>
    </header>
    <main id="main">
      <h4>{{ message }}</h4>
      <ul>
        <li v-for="list in lists">{{ list.item }}</li>
      </ul>
      <button v-on:click="add">{{ btnMessage }}</button>
      <input
        type="text"
        v-on:change="input"
        v-bind:placeholder="placeholder"
        v-model="value"
      />
    </main>
    <footer id="footer">
      <hyperlink></hyperlink>
    </footer>
    <script src="./index.js"></script>
  </body>
</html>
