<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="darkcyan" />
    <meta name="apple-mobile-web-app-status-bar-style" content="darkcyan" />
    <title>New</title>
    <!-- <link rel="stylesheet" href="../style.css" /> -->
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="./store.css" />
    <script src="../vendor/Vue/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="./store.js" defer></script>
    <script src="../vendor/Vue/vuex.js"></script>
    <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <h1>{{ title }}</h1>
      </header>
      <div class="search-container">
        <input
          type="search"
          name="search"
          id="search"
          @input="search"
          @change="search"
          @focus="search"
          v-model="input"
          placeholder="type a word..."
          ref="search"
          list="list"
          size="36"
          results="4"
          autocomplete="off"
        />
        <datalist id="list">
          <optgroup>
            <option
              v-for="(word, i) in searchedWordList"
              :value="word"
              v-if="i < 4"
            >
              {{ word }}
            </option>
          </optgroup>
        </datalist>
      </div>
      <div class="card-container">
        <button v-for="word in searchedWordList">{{ word }}</button>
        <div v-if="noResult">No result found😥</div>
      </div>
      <ul>
        <li v-if="$fetchData.pending">Fetching data...</li>
        <li v-for="word in wordsApi">
          {{ word }}
        </li>
      </ul>
      <footer id="footer"><hyperlink></hyperlink></footer>
    </div>
  </body>
</html>
