.se-root *:focus {
  outline: solid cadetblue;
}

.se-header {
  text-align: center;
  background-image: linear-gradient(45deg, black, transparent);
  color: white;
  height: 75px;
  width: 100%;
  backdrop-filter: blur(1.4px);
  top: 0;
  left: 0;

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  
  display: none; /*! make a decision about what to do with this element */
}

.se-title {
  margin: 0;
}

.se-search-container {
  width: 100%;
  height: 75px;
  display: grid;
  place-items: center;
}

.se-search-input {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  font-size: 1.1em;
  text-indent: 6px;
  color: darkslategray;
  background-color: cadetblue;
  border: 2px solid #2f4f4fc2;
}

.se-search-input::placeholder {
  color: rgba(47, 79, 79, 0.685);
}

.se-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 100px;
  gap: 15px;
  margin: 10px;
}

.se-cards > * {
  background-color: darkgray;
  background-image: linear-gradient(-45deg, cadetblue, darkslategray);
  color: #ffffffd1;
  font-weight: bold;
  display: grid;
  place-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #00000023;
  font-family: monospace;
  border: none;
  font-size: 0.9rem;
}
