.bl-root {
  display: grid;
  place-items: center;
}

.bl-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bl-h1 {
  margin: 25px 0;
}

.write {
  display: block;
  width: 90px;
  padding: 8px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  color: rgb(240, 240, 240);
  background-color: cadetblue;
  white-space: nowrap;
  font: normal 0.92rem sans-serif;
  cursor: pointer;
}

.bl-article-preview {
  margin: 8px 0;
  padding: 20px;
  background-color: #182f2b99;
  font-weight: normal;
  font-size: 1rem;
  border-radius: 6px;
  max-width: clamp(300px, 75vw, 700px);
  height: clamp(123px, 21vh, 134px);
  color: white;
  overflow: auto;
  max-height: 150px;
}

.bl-article-preview__link {
  display: block;
  text-decoration: none;
  transition: opacity 200ms;
  color: inherit;
}

.bl-article-preview__title {
  color: rgb(247, 203, 121);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.bl-article-preview__text {
  color: rgb(255 239 210);
  overflow: auto;
}

.bl-p {
  font-weight: normal;
  color: white;
  line-height: 1.35;
  margin: 10px 0;
  text-indent: 30px;
}

/* full article */
.bl-article-container {
  display: grid;
  place-items: center;
  min-height: calc(100vh - var(--navbar-height));
}

.bl-article {
  width: clamp(300px, 75vw, 690px);
}

.bl-article-title {
  text-align: center;
}

.bl-go-back {
  color: rgb(174, 192, 197);
  padding: 5px 15px;
  border-radius: 900px;
  font-size: 1rem;
  background-color: #136a6a;
}

/* write */
.bl-write-root {
  display: grid;
  place-items: center;
  min-height: calc(100vh - var(--navbar-height));
  width: 100%;
}

.bl-write {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 650px;
  padding: 35px;
  margin: 40px;

  background-color: #1e6060;
  border-radius: 15px;
}

.bl-write__title {
  font-size: larger;
  text-align: center;
}

.bl-write__input-container > * {
  width: 100%;
}

.bl-write label {
  font-size: large;
  color: #e8e8e8;
}

.bl-write textarea {
  resize: vertical;
}

.bl-write textarea,
input {
  padding: 5px;
  border-radius: 5px;
  background-color: #528f8f;
  border: none;
  text-indent: 5px;
  font-size: medium;
  color: #fff;
}

.bl-write ::placeholder {
  color: rgb(206, 206, 206);
}

.bl-write__submit {
  border-radius: 5px;
  padding: 6px 5px;
  border: none;
  background-color: #bfac8a;
  color: #404040;
  font-size: medium;
  text-transform: uppercase;
}

.bl-write__success {
  position: absolute;
  left: 10px;
  top: 60px;
  margin: 10px;
  padding: 5px 20px;
  border-radius: 4px;
  background-color: #47c547;
  color: white;
}

.bl-write__success::after {
  content: " ✔";
}