@import url("../components/NavigationBar/NavigationBar.css");
@import url("./home/Home.css");
@import url("./Cards/Cards.css");
@import url("./Todo/Todo.css");
@import url("./Likes/Likes.css");
@import url("./Blog/Blog.css");

/* utils */

[class*="u-btn"] {
  width: 190px;
  height: 40px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(56, 56, 56, 0.397);
  color: rgb(240, 240, 240);
  background-color: deeppink;
  white-space: nowrap;
  transition: background-color 500ms, box-shadow 500ms, transform 500ms;
  border: none;
  font-size: 0.92rem;
  cursor: pointer;
}

[class*="u-btn-md"] {
  width: 120px;
}

[class*="u-btn-sm"] {
  width: 90px;
  height: 30px;
  padding: 0;
}

[class*="u-btn-sm-rd"] {
  border-radius: 20px;
}

[class*="u-btn"]:hover {
  background-color: rgb(255, 0, 0);
  transform: translateY(-1.5px) scale(1.007);
  transition: background-color 200ms, transform 200ms;
}

[class*="u-btn"]:active {
  box-shadow: 0px 0px 0px rgba(56, 56, 56, 0.397);
  transform: translateY(3px);
  transition: background-color 200ms, box-shadow 100ms, transform 100ms;
}

[class*="u-input"] {
  width: 250px;
  height: 42px;
  border-radius: 15px;
  border: none;
  margin: 1em;
  color: rgb(99, 99, 99);
  text-align: center;
  font-size: 0.9rem;
  outline: none;
  transition: transform 300ms;
}

[class*="u-input"]:hover,
[class*="u-input"]:focus {
  transform: scale(1.01);
}
