.hm-home {
  margin: 0;
  padding: 0;
  height: calc(100vh - 54px); /* subtract the height of the top navbar*/
  display: grid;
  place-content: center;
  background-color: darkcyan;
  font-size: 20px;
  color: rgb(247, 203, 121);
  font-family: sans-serif;
  padding: 1em;
}

.hm-header {
  box-sizing: content-box;
}

.hm-h1 {
  font-size: 2rem;
  margin: 0;
}

.hm-h2 {
  color: skyblue;
  font-size: 20px;
  margin: 0;
}

.hm-h3 {
  color: rgb(211, 173, 241);
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.hm-h4 {
  margin: 26px 0;
}

.hm-list {
  color: white;
  max-height: max(38vh, 135px);
  overflow-y: auto;
  margin: 20px 0;
  padding-left: 40px;
}

.hm-list__item {
  font-weight: normal;
}

.hm-btn {
  width: 190px;
}
