.td-todo-container {
  overflow-x: hidden;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.td-h1-wrapper {
  height: fit-content;
  width: fit-content;
  width: 100%;
}

.td-h1 {
  width: 100%;
  color: cyan;
  text-shadow: 0px 0px 0px cyan, -1px -3px 0px tomato, -1px -4px 0px yellow;
  font-size: 2.5rem;
  text-align: center;
  margin: 3rem 0;
  transition: transform 300ms;
}

.td-h1-wrapper:hover .title {
  transform: translateY(2px) skew(90deg);
}

.td-add {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.td-todo {
  padding: 5px;
  margin: 5px;
  font-size: 1.2rem;
  list-style-type: none;
  padding-left: 39px;
  white-space: nowrap;
  border: 2px solid transparent;
}

.td-todo::marker {
  color: coral;
}

.td-todo:focus-within {
  border: 2px red solid;
  outline: 3px white;
}

.td-todo__label {
  display: inline;
  position: relative;
  cursor: pointer;
}

.td-todo__checkbox {
  height: 0.0000001px;
  width: 0.0000001px;
  opacity: 0;
}

.td-todo__checkbox:checked + .td-todo__text {
  text-decoration: line-through;
}

.td-todo__checkbox:checked + .td-todo__label::after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: -5px;
  left: -39px;
  font-size: 25px;
}

.td-todo__label::before {
  content: "";
  position: absolute;
  background-color: deeppink;
  width: 25px;
  height: 25px;
  top: -1px;
  left: -43px;
  border: 1.5px solid;
  box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.td-todo__checkbox:focus + .td-todo__label::before {
  outline: solid 1px;
  outline-offset: 2px;
}

.td-todo__text {
  display: inline-block;
  width: 215px;
  padding: 0 11px;
  /* box-shadow: 1px 1px 3px rgb(0 0 0 / 40%); */
  white-space: nowrap;
  overflow: auto;
  margin-bottom: -10px;
}

.active-item {
  outline: 2px white solid;
  /* background: rgb(29, 34, 82); */
}
