.like,
.dislike {
  width: 60px;
  height: fit-content;
  padding: 0;
  font-size: 2em;
  background-color: transparent;
  box-shadow: none;
  transition: filter 300ms;
  filter: drop-shadow(2px 2px 0px hsl(43, 100%, 62%,.5));
  margin-right: 30px;
}

.like:hover, .like:active, .dislike:hover, .dislike:active { background-color: transparent }
.like:active { transform: translateY(2px); filter: hue-rotate(68deg) }
.like:active ~ .likeCount{ color: #1cff00}
.dislike:disabled{ filter: saturate(0) }
.dislike:disabled:hover { transform: none }
.dislike:active { filter: hue-rotate(308deg) saturate(4)}
.dislike:active ~ .likeCount{ color: rgb(209, 28, 28) }

.likeCount {
  height: 24px;
  width: 30px;
  padding: 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  transform: translate(-125px, 13px);
}
